

<div class="p-4 ">
    <h2>Search For a Track: </h2>
    <div class="form d-flex gap-2 ">
        <input type="text" [(ngModel)]="trackName" placeholder="Enter a track name" class="form-control">
        <input type="text" [(ngModel)]="artistName" placeholder="Enter an artist name" class="form-control">
        <button (click)="search()" class="btn border border-light "><img src="https://static-00.iconduck.com/assets.00/search-icon-2048x2048-cmujl7en.png" alt="" width="20" height="20"></button>
    </div>
    
</div>

<div class="p-4 w-100 h-50">
    <div class="overflow-scroll shadow-md d-flex justify-content-around gap-3 mt-3" id="card-main">
        <div class="p-4 border border-2 shadow-sm rounded d-flex flex-column text-center card"  *ngFor= "let track of tracks" id="card">
            <h4 class="mt-3">{{track.title}}</h4>
            {{track.artist.name}}
            <div>
                <img src={{track.album.cover}} alt=""  class="mt-2" id="image-cont">
            </div>
            <div>
                <audio controls class="mt-3">
                    <source [src]="track.preview" type="audio/mpeg">
                </audio>
            </div>
            <button class="btn" (click)="likeTrack(track)">
                Like
            </button>
            
        </div>
    </div> 
</div>




